#container {
	width: 75% auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#container > person:nth-child(even){
  background: lightyellow;
}

#container > person:nth-child(odd){
  background: lightblue;
}

.famous {
	width: 500px;
    margin: auto;
    border: 3px solid black;
    margin: 10px;
    padding: 5px;
    display: inline-block;
	text-align: center
}

person header {
	font-size: 30px;
	font-weight: bold;
}

img {
	height: 300px;
	width: auto;
	margin: 5px auto auto auto;
	display: block;
}

.bio {
	margin: 10px auto auto auto;
}

.dotted {
	border: dotted black 3px;

}